body {
    font-family: 'Nunito', sans-serif;
}

.about {
    background-color: #f472b6;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.max-w-7xl {
    max-width: 1200px;
    margin: auto;
}

.services-section {
    text-align: center;
    background-color: #2a2a4a;
    padding: 2rem 1rem;
    color: #ffffff;
}

.services-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.service-card {
    width: 250px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.one{
    background-color: #5e60ce;
}

.two {
    background-color: #ffd166;
}

.three {
    background-color: #f25f5c;
}

.service-card h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5rem;
}

.service-card p {
    color: #f0f0f0;
    font-size: 0.9rem;
    line-height: 1.5;
}

.header {
    padding: 16px 0;
    background-color: #ffffff;
}

.header-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-link {
    color: #4f46e5; 
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #000000;
}


.footer {
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.subtopic {
    margin-top: 1rem; 
    font-size: 1.875rem; 
    font-weight: 700; 
}

.work-text {
    margin-top: 0.5rem; 
    font-size: 1.25rem;
    font-weight: 700; 
}

.input-field {
    background-color: #f9fafb; 
    color: #374151; 
    font-size: 1.125rem; 
    border-radius: 0.5rem; 
    padding: 0.75rem 1rem; 
    width: 100%; 
    outline: none; 
}

.book-image {
    width: 12rem; 
    height: 16rem; 
    object-fit: cover; 
    border-radius: 0.5rem; 
}

.book-slider {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.book-image {
    width: 12rem; 
    height: 16rem; 
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
